<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGMEnable</key>
	<true/>
	<key>EMEnable</key>
	<true/>
	<key>MT_Score_0</key>
	<integer>0</integer>
	<key>MT_Score_1</key>
	<integer>0</integer>
	<key>MT_Score_2</key>
	<integer>0</integer>
	<key>MT_Score_3</key>
	<integer>0</integer>
	<key>MT_Score_4</key>
	<integer>0</integer>
	<key>MT_Score_5</key>
	<integer>0</integer>
	<key>MT_Score_6</key>
	<integer>0</integer>
	<key>MT_Score_7</key>
	<integer>0</integer>
	<key>MT_Score_8</key>
	<integer>0</integer>
	<key>MT_Score_9</key>
	<integer>0</integer>
	<key>MT_Score_10</key>
	<integer>0</integer>
	<key>MT_Score_11</key>
	<integer>0</integer>
	<key>MT_Score_12</key>
	<integer>0</integer>
	<key>MT_Score_13</key>
	<integer>0</integer>
	<key>MT_Score_14</key>
	<integer>0</integer>
	<key>MT_Score_15</key>
	<integer>0</integer>
	<key>MT_Score_16</key>
	<integer>0</integer>
	<key>MT_Score_17</key>
	<integer>0</integer>
	<key>MT_Score_18</key>
	<integer>0</integer>
	<key>MT_Score_19</key>
	<integer>0</integer>
	<key>MT_Score_20</key>
	<integer>0</integer>
	<key>MT_Score_21</key>
	<integer>0</integer>
	<key>MT_Score_22</key>
	<integer>0</integer>
	<key>MT_Score_23</key>
	<integer>0</integer>
	<key>MT_Score_24</key>
	<integer>0</integer>
	<key>MT_Score_25</key>
	<integer>0</integer>
	<key>MT_Score_26</key>
	<integer>0</integer>
	<key>MT_Score_27</key>
	<integer>0</integer>
	<key>MT_Score_28</key>
	<integer>0</integer>
	<key>MT_Score_29</key>
	<integer>0</integer>
	<key>MT_Score_30</key>
	<integer>0</integer>
	<key>MT_Score_31</key>
	<integer>0</integer>
	<key>MT_Score_32</key>
	<integer>0</integer>
	<key>MT_Score_33</key>
	<integer>0</integer>
	<key>MT_Score_34</key>
	<integer>0</integer>
	<key>MT_Score_35</key>
	<integer>0</integer>
	<key>MT_World0</key>
	<integer>1</integer>
	<key>MT_World1</key>
	<integer>0</integer>
	<key>MT_World2</key>
	<integer>0</integer>
	<key>MT_World3</key>
	<integer>0</integer>
	<key>MT_CurrentWorld</key>
	<integer>0</integer>
	<key>MT_MAX_Score</key>
	<integer>0</integer>
	<key>PlayMode</key>
	<integer>0</integer>
	<key>MD_Score_0</key>
	<integer>0</integer>
	<key>MD_Score_1</key>
	<integer>0</integer>
	<key>MD_Score_2</key>
	<integer>0</integer>
	<key>MD_Score_3</key>
	<integer>0</integer>
	<key>MD_Score_4</key>
	<integer>0</integer>
	<key>MD_Score_5</key>
	<integer>0</integer>
	<key>MD_Score_6</key>
	<integer>0</integer>
	<key>MD_Score_7</key>
	<integer>0</integer>
	<key>MD_Score_8</key>
	<integer>0</integer>
	<key>MD_Score_9</key>
	<integer>0</integer>
	<key>MD_Score_10</key>
	<integer>0</integer>
	<key>MD_Score_11</key>
	<integer>0</integer>
	<key>MD_Score_12</key>
	<integer>0</integer>
	<key>MD_Score_13</key>
	<integer>0</integer>
	<key>MD_Score_14</key>
	<integer>0</integer>
	<key>MD_Score_15</key>
	<integer>0</integer>
	<key>MD_Score_16</key>
	<integer>0</integer>
	<key>MD_Score_17</key>
	<integer>0</integer>
	<key>MD_Score_18</key>
	<integer>0</integer>
	<key>MD_Score_19</key>
	<integer>0</integer>
	<key>MD_Score_20</key>
	<integer>0</integer>
	<key>MD_Score_21</key>
	<integer>0</integer>
	<key>MD_Score_22</key>
	<integer>0</integer>
	<key>MD_Score_23</key>
	<integer>0</integer>
	<key>MD_Score_24</key>
	<integer>0</integer>
	<key>MD_Score_25</key>
	<integer>0</integer>
	<key>MD_Score_26</key>
	<integer>0</integer>
	<key>MD_Score_27</key>
	<integer>0</integer>
	<key>MD_Score_28</key>
	<integer>0</integer>
	<key>MD_Score_29</key>
	<integer>0</integer>
	<key>MD_Score_30</key>
	<integer>0</integer>
	<key>MD_Score_31</key>
	<integer>0</integer>
	<key>MD_Score_32</key>
	<integer>0</integer>
	<key>MD_Score_33</key>
	<integer>0</integer>
	<key>MD_Score_34</key>
	<integer>0</integer>
	<key>MD_Score_35</key>
	<integer>0</integer>
	<key>MD_World0</key>
	<integer>1</integer>
	<key>MD_World1</key>
	<integer>0</integer>
	<key>MD_World2</key>
	<integer>0</integer>
	<key>MD_World3</key>
	<integer>0</integer>
	<key>MD_CurrentWorld</key>
	<integer>0</integer>
	<key>MD_MAX_Score</key>
	<integer>0</integer>
</dict>
</plist>
